/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Verdana,"Open Sans", Arial,;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
    font-size: 14px;
}

img {
    display: block;
}

.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: flow;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
    padding: 5rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
    width: 150px;
}

.profile-user-settings,
.profile-stats,
.profile-bio {

    float: left;
    width: calc(66.666% - 2rem);
    font-size: 14px;
}


.profile-user-settings {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 28px;
    font-weight: 300;
}

.profile-edit-btn {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    margin-top: 2.3rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}

/* Gallery Section */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    width: 293px;
    color: #fff;
    cursor: pointer;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.gallery-item img{
  width: 293px;
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.gallery-image {
    width: 293px;
    height: 100%;
    object-fit: cover;
}

#overlay {
      position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 4;
      cursor: pointer;
    }
  * {
    box-sizing: border-box;
  }

  /*body {
    font-family: Verdana, Arial;
    font-size: 14px;
    /*background: silver;} /* remove this */

  .mainRow {
    width: 935px;
    margin: auto;
    margin-top: 130px;
  }

  .row{
    width: 935px;
  }

  .columnLeft {
    float: left;
    width: 600px;
    height: 600px;
  }

  #myImage {
      width: 600px;
  }

  .small-screen {
    display: none;
  }

/*Comments section*/
  .columnRight {
    float: left;
    width: 335px;
    height: 600px;
    padding: 8px;
    background: white;
  }

  .comment-left {
    float: left;
    width: 20%;
    padding: 8px;
  }

  .comment-left-mobile{
    display: none;
  }

  .comment-right {
    float: left;
    width: 80%;
    padding: 8px;
  }

  .comment-right-mobile{
    display: none;
  }

  .smallAvatar {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .grey-line {
    width:100%;
    height: 1px;
    background: silver;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  hr {
    width: 330px;
    z-index: 10;
    margin-left: -78px;
  }

  .short-hr{
    margin-left: -100px;
  }


  /*Icons section*/
  .smallAvatarHeart{
    width: 27px;
    height: 25px;
    margin-left: 25px;
  }

  .smallAvatarIcon{
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }

  .smallAvatarUpload{
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }

  .smallAvatarBookmark{
    width: 35px;
    height: 30px;
    margin-left: 160px;
  }

  h2 {
    font-size: 15px;
    margin-left: 30px;
  }

  h3 {
    font-size: 10px;
    margin-left: 30px;
    color: gray;
  }

/* Media Query */

@media screen and (max-width: 40rem) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .profile::after {
        display: none;
    }

    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    }

    .profile-image img {
        width: 7.7rem;
    }

    .profile-user-settings {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profile-user-name {
        font-size: 2.2rem;
    }

    .profile-edit-btn {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
    }

    .profile-edit-btn {
        margin-left: 0;
    }

    .profile-bio {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .profile-edit-btn,
    .profile-bio,
    .profile-stats {
        flex-basis: 100%;
    }

    .profile-stats {
        order: 1;
        margin-top: 1.5rem;
    }

    .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
        border-top: 0.1rem solid #dadada;
        border-bottom: 0.1rem solid #dadada;
    }

    .profile-stats li {
        font-size: 1.4rem;
        flex: 1;
        margin: 0;
    }

    .profile-stat-count {
        display: block;
    }
    .mainRow {
      width: 600px;
      margin: auto;
      margin-top: 130px;
    }

    .row{
      width: 600px;
    }

    .row-icon {
      width: 600px;
    }

    #myImage{
      width: 400px;
    }

    /*
    .columnRight {
      float: left;
      width: 220px;
      height: 600px;
      padding: 8px;
      background: white;
    }*/
}

/* Spinner Animation */
/*
@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}
/*
/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling.

*/

@supports (display: grid) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profile-image {
        grid-row: 1 / -1;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }

    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item,
    .gallery {
        width: auto;
        margin: 0;
    }

    @media only screen (max-width: 770px;) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }

        .profile-image {
            grid-row: 1 / 2;
        }

        .profile-user-settings {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
        }

        .profile-edit-btn,
        .profile-stats,
        .profile-bio {
            grid-column: 1 / -1;
        }

        .profile-user-settings,
        .profile-edit-btn,
        .profile-settings-btn,
        .profile-bio,
        .profile-stats {
            margin: 0;
        }
    }
}

/*for a responsive site*/
@media screen and (max-width:800px){
  .mainRow {
    width: 800px;
    margin: auto;
    margin-top: 130px;
  }

  .gallery-item {
    margin-left: 30px;
  }

  #myImage {
      width: 550px;
  }

  .columnLeft {
    float: left;
    width: 450px;
    height: 600px;
    margin-left: 20px;
  }

  .columnRight {
    float: left;
    width: 300px;
    height: 550px;
    padding: 8px;
    background: white;
  }

  .smallAvatarHeart{
    width: 27px;
    height: 25px;
    margin-left: 25px;
    margin-top: -100px;
  }

  .smallAvatarIcon{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-top: -100px;
  }

  .smallAvatarUpload{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-top: -100px;
  }

  .smallAvatarBookmark{
    width: 35px;
    height: 30px;
    margin-left: 140px;
    margin-top: -100px;
  }

  h2 {
    font-size: 15px;
    margin-left: 30px;
    margin-top: -70px;


  }

  h3 {
    font-size: 10px;
    margin-left: 30px;
    color: gray;
    margin-top: -50px;
  }

}

@media only screen and (max-width: 640px) {
  .Column-header-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0%;
    height: auto;
  }

.comment-left-mobile{
  display: inline-block;
  z-index: 5;
  margin-left: 100px;
  margin-right: 10px;
}

.comment-left-mobile img{
  width: 40px;
  height: 40px;
}

.comment-right-mobile {
  display: inline-block;
  margin-left: 40px;
  margin-bottom: -100px;
  z-index: 6;
  height: 50px;
}

  .columnRight {
    display: none;
  }

  .columnLeft{
    width: 2000px;
    height: 650px;
    margin-top: -60px;
    margin-left: -5px;
    background-color: white;
    z-index: -1;
  }


  #myImage{
    width: 450px;
    z-index: 2;
    margin-top: 75px;
    margin-left: 75px;
    vertical-align: middle;
  }

  .small-screen {
    display: inline-block;
    margin-top: 125px;
    margin-left: 60px;
  }

  .smallAvatarHeart{
    width: 25px;
    height: 25px;
    display: block;
  }

  .smallAvatarIcon{
    width: 25px;
    height: 25px;
  }

  .smallAvatarUpload{
    width: 25px;
    height: 25px;
  }

  .smallAvatarBookmark{
    width: 30px;
    height: 30px;
    margin-left: 280px;
  }


}
  @media only screen and (max-width: 500px) {
    .Column-header-left{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 0%;
      height: auto;
    }

  .comment-left-mobile{
    display: inline-block;
    z-index: 5;
    margin-left: 70px;
    margin-right: 10px;
  }

  .comment-right-mobile {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: -100px;
    z-index: 6;
    height: 50px;
  }

    .columnRight {
      display: none;
    }

    .columnLeft{
      width: 800px;
      height: 600px;
      margin-top: -50px;
      margin-left: -5px;
      background-color: white;
      z-index: -1;
    }


    #myImage{
      width: 400px;
      z-index: 2;
      margin-top: 60px;
      margin-left: 70px;
      vertical-align: middle;
    }

    .small-screen {
      display: inline-block;
      margin-top: 125px;
      margin-left: 60px;
    }

    .smallAvatarHeart{
      width: 25px;
      height: 25px;
      display: block;
    }

    .smallAvatarIcon{
      width: 25px;
      height: 25px;
    }

    .smallAvatarUpload{
      width: 25px;
      height: 25px;
    }

    .smallAvatarBookmark{
      width: 30px;
      height: 30px;
      margin-left: 280px;
    }
  }

@media only screen and (max-width: 450px) {
  .Column-header-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0%;
    height: auto;
  }

  .comment-left-mobile{
    display: inline-block;
    z-index: 5;
    margin-left: 75px;
    margin-right: 10px;
  }

  .comment-right-mobile {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: -100px;
    z-index: 6;
    height: 50px;
  }

  .columnRight {
    display: none;
  }

  .columnLeft{
    width: 800px;
    height: 490px;
    margin-top: -50px;
    margin-left: -5px;
    background-color: white;
    z-index: -1;
  }

  .gallery-item {
    margin-left: 30px;
  }


  #myImage{
    width: 300px;
    z-index: 2;
    margin-top: 60px;
    margin-left: 70px;
  }

  .small-screen {
    display: inline-block;
    margin-top: 125px;
    margin-left: 60px;
  }

  .smallAvatarHeart{
    width: 25px;
    height: 25px;
    display: block;
  }

  .smallAvatarIcon{
    width: 25px;
    height: 25px;
  }

  .smallAvatarUpload{
    width: 25px;
    height: 25px;
  }

  .smallAvatarBookmark{
    width: 30px;
    height: 30px;
    margin-left: 170px;
  }
}
@media only screen and (max-width: 380px){
  .comment-left-mobile{
    display: inline-block;
    z-index: 5;
    margin-left: 50px;
    margin-right: 10px;
  }

  .comment-right-mobile {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: -100px;
    z-index: 6;
    height: 50px;
  }

    .columnRight {
      display: none;
    }

    .columnLeft{
      width: 800px;
      height: 490px;
      margin-top: -50px;
      margin-left: -5px;
      background-color: white;
      z-index: -1;
    }

    .gallery-item {
      margin-left: 10px;
    }

    #myImage{
      width: 300px;
      z-index: 2;
      margin-top: 60px;
      margin-left: 55px;
    }

    .small-screen {
      display: inline-block;
      margin-top: 125px;
      margin-left: 40px;
    }

    .smallAvatarHeart{
      width: 25px;
      height: 25px;
      display: block;
    }

    .smallAvatarIcon{
      width: 25px;
      height: 25px;
    }

    .smallAvatarUpload{
      width: 25px;
      height: 25px;
    }

    .smallAvatarBookmark{
      width: 30px;
      height: 30px;
      margin-left: 170px;
    }

}

@media only screen and (max-width: 320px){
  .comment-left-mobile{
    display: inline-block;
    z-index: 5;
    margin-left: 50px;
    margin-right: 10px;
  }

  .comment-right-mobile {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: -100px;
    z-index: 6;
    height: 50px;
  }

    .columnRight {
      display: none;
    }

    .columnLeft{
      width: 800px;
      height: 425px;
      margin-top: -50px;
      margin-left: -5px;
      background-color: white;
      z-index: -1;
    }

    .gallery-item {
      margin-left: -20px;
    }

    #myImage{
      width: 250px;
      z-index: 2;
      margin-top: 60px;
      margin-left: 55px;
    }

    .small-screen {
      display: inline-block;
      margin-top: 125px;
      margin-left: 40px;
    }

    .smallAvatarHeart{
      width: 25px;
      height: 25px;
      display: block;
    }

    .smallAvatarIcon{
      width: 25px;
      height: 25px;
    }

    .smallAvatarUpload{
      width: 25px;
      height: 25px;
    }

    .smallAvatarBookmark{
      width: 30px;
      height: 30px;
      margin-left: 130px;
    }
  }



}
